<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <title>Garfield</title>
</head>
<body>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Garfield_the_Cat.svg/1280px-Garfield_the_Cat.svg.png" width="800">
    </div>
</body>
</html>
